<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML-Beats</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> -->
</head>
<body>
    <button id="accessibilityButton" aria-label="Accessibility options">
        <img src="{{ url_for('static', filename='accessibility.png') }}" alt="Accessibility options">
    </button>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Music Logo">
        </div>
    </div>
        <div class="login-buttons">
            <button id="loginEmail" >Login with Email</button>
            <button id="loginGoogle">Login with Google</button>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>
